{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style=" background-image: linear-gradient(#E5E3C9, #74959A, #495371, #98B4AA);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading" >
            <div class="typewriter" style="padding: 30px;"></div>
            <h1>Ayushi's Blog</h1>
            <p  style="font-family: 'Kaushan Script', cursive; font-size:50px; font-weight:bold; color:#F0F5F9">technical  tales  with  Ayushi.</p>
          </div>
            <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview"  style="outline-style: solid; outline: 2px solid black;padding: 10px;margin-bottom: 50px; ">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            {{post.author.name}}
            on {{post.date}}
            {% if current_user.id == 1: %}
            <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
            {% endif %}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
          </div>
        </div>
      </div>
    </div>
  </header>




        <!-- New Post -->
        {% if current_user.id == 1: %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
        </div>
        {% endif %}
  
  <hr>

{% include "footer.html" %}
